{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Our Products</h1>
<div class="products">
    {% for product in products %}
    <div class="product-card">
        <h2>{{ product[1] }}</h2> <!-- Description -->
        <p>Price: ${{ product[2] }}</p> <!-- UnitPrice: product[2] -->
        <form action="{{ url_for('add_to_cart', product_id=product[0]) }}" method="POST">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
